@use '../layout/colors' as *;
@use '../layout/breakpoints' as *;

.nav {
  display: flex;
  flex-flow: row nowrap;

  &_list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    &_item {

      &:hover, &:focus, &:active {
        cursor: pointer;
      }
      &_link {
        color: $white;
        text-decoration: none;
        padding: 1rem;
        display: inline-block;
      }
    }

    &_current {
      background-color: map-get($pallet, color2);
    }
  }
}