@use '../layout/colors' as *;
@use '../layout/breakpoints' as *;

.nav {
  grid-column: 2;
  display: flex;
  flex-flow: row nowrap;
  @include breakpoints(mobile) {
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__inner {
    display: flex;
    flex-flow: row nowrap;

    &__list {
      display: flex;
      flex-flow: row nowrap;
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {

        &:hover, &:focus, &:active {
          cursor: pointer;
        }

        &__link {
          color: $white;
          text-decoration: none;
          text-shadow: 1px 1px 1px map-get($pallet, color2);
          padding: .5rem;
          display: inline-block;
        }
      }

      &__current {
        background-color: map-get($pallet, color4);
      }
    }
  }

}