@use '../layout/colors' as *;
@use '../layout/breakpoints' as *;

.footer {
  background-color: map-get($pallet, color2);
  display: grid;
  grid-template-rows: minmax(50px, auto);
  padding: 2.5rem 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -5;

  @include breakpoints(mobile) {
    grid-template-columns: 1fr 3fr 1fr;
  }

  @include breakpoints(desktop) {
    grid-template-columns: 1fr 4fr 1fr;
  }

  &__section {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-shadow: 1px 1px 1px map-get($pallet, color2);

    &__logo {
    }
  }
}