@use '../layout/colors' as *;
@use '../layout/breakpoints' as *;

.section {
  background-color: map-get($pallet, color1);
  padding: 1rem;
  display: grid;

  @include breakpoints(tablet mobile nav) {
    grid-template-columns: 1fr 3fr 1fr;
  }

  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    grid-template-columns: 1fr 4fr 1fr;
  }

  .nav {
    grid-column: 2;
    display: flex;
    flex-flow: row nowrap;
    @include breakpoints(tablet mobile nav) {
      justify-content: space-between;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }
}
