@use '../layout/colors' as *;
@use '../layout/breakpoints' as *;

.section {
  background-color: map-get($pallet, color1);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;

  .nav {
    grid-column: 2;
    display: flex;
    flex-flow: row nowrap;

    .logo {
      &_image {

        @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
          margin-top: 0.6rem;
        }
      }
    }
  }
}
