@use '../layout/colors' as *;
@use '../layout/breakpoints' as *;

.section {
  background-color: map-get($pallet, color1);
  padding: 1rem;
  display: grid;

  @include breakpoints(tablet mobile nav) {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: minmax(33.5px, 0);
  }

  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: minmax(35.5px, 0);
  }
}
