@use '../layout/colors' as *;
@use '../layout/breakpoints' as *;

.notFound {
  grid-column: 1/4;
  height: 100vh;
  display: grid;
  @include breakpoints(mobile) {

    grid-template-columns: 15px 1fr 15px;
    background-image: url("./../../images/notFound/medium.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  @include breakpoints(desktop) {

    grid-template-columns: 1fr 2fr 1fr;
    background-image: url("./../../images/notFound/large.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  @include breakpoints(massive) {

    grid-template-columns: 2fr 4fr 2fr;
    background-image: url("./../../images/notFound/large.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .article {
    grid-column: 2/3;
    background-color: $white;
    padding: 2.5rem;
    margin: 2.5rem;
    border-radius: .25rem;
    width: auto;
    height: max-content;
    box-shadow: 0px 0px 10px 5px map-get($pallet, color4);
    border: 5px solid map-get($pallet, color2);
    text-align: center;
  }
}
