@use '../layout/colors' as *;
@use '../layout/breakpoints' as *;

.project {
  background-color: map-get($pallet, color2);
  border-radius: 5% 0 5% 0;
  margin: 1.5rem;
  padding: 1.5rem;
  color: $white;
  text-shadow: 1px 1px 0px $text;
  box-shadow: inset 0px 0px 5px 5px map-get($pallet, color3), 0px 0px 5px 5px rgba(255, 255, 255, .12);
  border: .1rem solid map-get($pallet, color4);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 30.5rem;
  transform: scale(1);
  transition: scale ease-in-out;

  &:hover, &:focus, &:active {
    @include breakpoints(desktop massive) {
      animation: .5s biggun;
      z-index: 10;
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  &Left {
    grid-column: 1/2;

    .repoButton {
      color: $alt-white;
      padding: .5rem;
      text-decoration: none;
      cursor: pointer;
      border: 5px solid $alt-white;
      margin-top: 1.5rem;
      font-weight: 600;
      transition: .25s ease-in-out;

      &:hover, &:focus, &:active {
        color: map-get($pallet, color2);
        background-color: $alt-white;
        text-shadow: none;
      }
    }
  }

  &Right {
    grid-column: 2/3;

    .description {
      display: block;
      opacity: 1;
      animation: .5s appear;
      position: relative;
    }
  }

}

@keyframes biggun {
  0% {
    box-shadow: inset 0px 0px 5px 5px map-get($pallet, color3), 0px 0px 5px 5px rgba(255, 255, 255, .12);
    transform: scale(1.00);
  }

  20% {
    transform: scale(1.01);
  }

  40% {
    transform: scale(1.02);
  }

  50% {
    box-shadow: inset 0px 0px 5px 5px map-get($pallet, color3), 0px 0px 10px 10px rgba(255, 255, 255, .12);
  }

  60% {
    transform: scale(1.03);
  }

  80% {
    transform: scale(1.04);
  }

  100% {
    box-shadow: inset 0px 0px 5px 5px map-get($pallet, color3), 0px 0px 5px 5px rgba(255, 255, 255, .12);
    transform: scale(1.05);
  }
}