@use '../layout/colors' as *;
@use '../layout/breakpoints' as *;

.article {
  background-color: map-get($pallet, color2);
  border-radius: 5% 0 5% 0;
  margin: 1.5rem;
  padding: 1.5rem;
  color: $white;
  text-shadow: 1px 1px 0px $text;
  display: block;
  max-width: 375px;
  box-shadow: inset 0px 0px 5px 5px map-get($pallet, color3), 0px 0px 5px 5px rgba(255, 255, 255, .12);
  border: .1rem solid map-get($pallet, color4);

  &:hover, &:focus, &:active {
    animation: .5s biggun;
  }

  .image {
    margin-top: 1rem;
    box-shadow: 11px 11px 0px -5px $white;
    border: 5px solid $text;
    display: block;
  }

  .repoButton {
    color: $alt-white;
    padding: .5rem;
    text-decoration: none;
    cursor: pointer;
    border: 5px solid $alt-white;
    margin-top: 1.5rem;
    font-weight: 600;
    transition: .25s ease-in-out;

    &:hover, &:focus, &:active {
      color: map-get($pallet, color2);
      border-color: map-get($pallet, color2);
      background-color: $alt-white;
      text-shadow: none;
    }
  }
}

@keyframes biggun {
  0% {
    box-shadow: inset 0px 0px 5px 5px map-get($pallet, color3), 0px 0px 5px 5px rgba(255, 255, 255, .12);
  }

  50% {
    box-shadow: inset 0px 0px 5px 5px map-get($pallet, color3), 0px 0px 10px 10px rgba(255, 255, 255, .12);
  }

  100% {
    box-shadow: inset 0px 0px 5px 5px map-get($pallet, color3), 0px 0px 5px 5px rgba(255, 255, 255, .12);
  }
}