@use '../layout/colors' as *;
@use '../layout/breakpoints' as *;

.root {
  &__section {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    background-color: $white;
    margin-bottom: 148px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.12);
  }
}