@use '../layout/colors' as *;
@use '../layout/breakpoints' as *;

.root {
  &__section {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    padding: 2.5rem 0;
    background-color: $white;
    margin-bottom: 150px;
    box-shadow: -19px 2px 17px $text;
  }
}