@use "../../../sass/misc/colors.scss" as *;

.navbar {
  background-color: #00416a;
  grid-column: 1/4;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;

  .nav {
    grid-column: 2/3;
    display: flex;
    justify-content: space-evenly;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
