@use "../../../sass/misc/colors.scss" as *;
@use "../../../sass/mixins/breakpoints.scss" as *;

.header {

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  .logoContainer {
    .logoLink {
      display: block;
      .logo {

      }
    }
  }
}