.navbar {
    background-color: #00416A;
    grid-column: 1/4;
    padding: 1.5rem;
    color: #eee;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

    .nav {
        grid-column: 2/3;
        margin: 0 auto;
    }
}