@use '../sass/misc/colors.scss' as *;

.section {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    .article {
        &_base, &_alt {
            grid-column: 2/3;
            color: #333;
        }

        &_base {
            margin: 0 auto;
        }

        &_alt {
            padding: 1.5rem;
            margin: 2.5rem;
            display: flex;
            justify-content: center;
            background-color: map-get($odiePallet, color2);
            border: .125rem solid map-get($odiePallet, color1);
            border-radius: .25rem;
        }

    }
}