@use "sass:map";

$odiePallet: (
  "color1": #3c3744,
  "color2": #6d98ba,
  "color3": #f4e4ba,
  "color4": #407076,
);

$white-hover: #cfcfcf;
$smoke: #f5f5f5;
$white: #eee;
$alt-white: #fefefe;
$text: #333;

.backgroundColorMain,
.backgroundColorAbout {
  background-color: $white;
}