@use "../../sass/misc/colors.scss" as *;

.todoApp {
  padding: 1.5rem;
  margin: 2.5rem;
  display: flex;
  justify-content: center;
  background-color: map-get($odiePallet, color2);
  border: .125rem solid map-get($odiePallet, color1);
  border-radius: .25rem;
}